apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
data:
  NODE_ENV: production
  APP_COLOR: "#b97810"      # verde (lo vamos a cambiar luego a azul)
  APP_TITLE: "Mi App con GitHub Flow + K8s"