apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app-ingress
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  rules:
  - host: vps-c1bf8222.vps.ovh.ca   # cambia si usas otro
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: app-githubflow-service
            port:
              number: 80
